<%- include('panelNavBar.ejs'); %>
<form action="" method="POST" class="container pt-3 col-md-7 col-lg-8">
  <div class="form-control">
    <h3>Generar boletin grupal</h3>
    <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label pb-3">Seleccione grado</label>
     <select name="grado" class="form-select" aria-label="Default select example">
      <option selected disabled>Grado</option>
      <% results.forEach((grado) => { %> 
      <option value="<%= grado.idGrado %>"><%= grado.graNombre %></option>
      <% }) %>
    </select>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Seleccione el periodo:</label>
        <select name="periodo" class="form-select" aria-label="Default select example">
        <option selected disabled>Periodo</option>
         <option value="1">Periodo 1</option>
         <option value="2">Periodo 2</option>
         <option value="3">Periodo 3</option>
       </select>
       </div>
    <div class="mb-3">
    </div>
  <button type="submit" class="btn btn-danger mb">Generar</button>  
  </div>
</form>

</main>

<script src="../js/bootstrap.bundle.min.js"></script>
<script>document.title = 'Generar boletines'</script>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>