<%- include('panelNavBar.ejs'); %>
<form action="/consulta" method="POST" class="container pt-3 col-md-7 col-lg-8">
  <h3 class="fs-1" style="margin-left: 370px;">Consultar Estudiante</h3>
  <div style="width: 600px; margin-left: 250px;">
    <div class="mb-3">
     <label for="" class="form-label pb-3">Cedula del Usuario:</label>
      <input name="cedula" type="text" class="form-control mb-3" id="" required>
    </div>
    <label for="" class="form-label">Datos a consultar:</label><br>
    <div class="form-check form-check-inline mt-3">
      <input class="form-check-input" type="radio" name="tipo" value="datos">
      <label class="form-check-label">Datos del Estudiante</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="tipo" value="notas">
      <label class="form-check-label">Notas</label>
    </div>
    <div class="mb-3">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mb" style="margin-left: 500px;">Consultar</button>
</form>



</main>


<script src="../js/bootstrap.bundle.min.js"></script>
<script>document.title = 'Consultar Usuario'</script>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>