<%- include('panelNavBar.ejs'); %>

<h1 style="margin-left: 800px;">Contactanos</h1>
<section class="d-flex">
    <div class="col-start-1 col-end-2" style="margin-left: 200px; width: 250px;">
        <h2 class="">Informacion de Contacto</h2>
        <br>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="#8B0000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class=""><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z" /><path d="M10 16h6" /><path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 8h3" /><path d="M4 12h3" /><path d="M4 16h3" /></svg>
        <h3 class="">Direccion</h3>
        <p class="">direccion</p>
        <br>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="#8B0000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class=""><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
        <h3 class="">Email</h3>
        <p class="">email@gmail.com</p>
        <br>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="#8B0000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class=""><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
        <h3 class="">Telefono</h3>
        <p class="">+57 XXX XXX XXXX</p>
    </div>
    <div class="ms-4 me-4" style="width: 5px; background-color: rgb(168, 164, 164); border-radius: 10px;"></div>
    <div class="container mt-5" style="margin-right: 200px; width: 1000px;">
            <% if (typeof success !== 'undefined') { %>
                <% if (success) { %>
                    <div class="alert alert-success text-center">¡Mensaje enviado exitosamente!</div>
                <% } else { %>
                    <div class="alert alert-danger text-center">Error al enviar el mensaje. Por favor, intenta nuevamente.</div>
                <% } %>
            <% } %>
    
            <!-- Formulario de contacto -->
            <form action="https://formsubmit.co/sinacolsam@gmail.com" method="POST" id="contactForm" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre:</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                    <div class="invalid-feedback">Por favor, ingrese su nombre.</div>
                </div>
    
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                    <div class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
                </div>

                <div class="mb-3">
                    <label for="subject" class="form-label">Asunto:</label>
                    <input type="email" id="email" name="subject" class="form-control" required>
                    <div class="invalid-feedback">Por favor, ingrese el asunto de su mensaje</div>
                </div>
    
                <div class="mb-3">
                    <label for="comments" class="form-label">Mensaje:</label>
                    <textarea id="comments" name="comments" class="form-control" rows="4" required></textarea>
                    <div class="invalid-feedback">Por favor, ingrese su mensaje.</div>
                </div>
    
                <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </form>
    </div>
</section>