<%- include('panelNavBar.ejs'); %>
<form action="buscar_matricula" method="POST" class="container pt-3 col-md-7 col-lg-8">
  <div>
    <h3>Generar matricula de estudiante</h3>
    <div class="mb-3">
     <label for="" class="form-label pb-3">Cedula de estudiante:</label>
      <input name="cedula" type="text" class="form-control mb-3" id="" required>
    </div>
    <div class="mb-3">
     </div>
  <button type="submit" class="btn btn-danger mb">Generar matricula</button>  
  </div>
</form>


</main>


<script src="../js/bootstrap.bundle.min.js"></script>
<script>document.title = 'Matricula de Estudiante'</script>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>