<%- include('panelNavBar.ejs'); %>

<div class="d-flex" style="width: 1821px; height: 700px;">
  <div style="width: 700px; margin-top: 150px; margin-left: 40px;">
    <h1 style="font-size: 60px; width: 750px;">
      ¡Bienvenidos al sistema de<br>
      gestión Sinac!
    </h1>
    <p style="font-size: 25px; margin-top: 30px;">
    	Este es un sistema de gestión escolar en el<br>
      que podrán analizar y dar seguimiento al<br>
      avance de los alumnos.
    </p>
  </div>
  <img style="margin-top: 100px; margin-right: 70px;" src="img/fray.png">
</div>


<script src="/js/bootstrap.bundle.min.js"></script>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>