<%- include('panelNavBar.ejs'); %>

<div style="background-image: url(../img/fondo_1.png); background-size: 100%;">
<div class="d-flex" style="width: 100%; height: 700px;">
  <div style="width: 700px; margin-top: 150px; margin-left: 100px;">
    <h1 style="font-size: 70px; width: 780px; font-family: mf; font-weight: m;">
      ¡Bienvenidos al sistema de<br>
      gestion SINAC!
    </h1>
    <p style="font-size: 25px; margin-top: 30px;">
    	Desde calificaciones hasta Observaciones y comunicación,<br>
      todo está al alcance de un clic. ¡Tu vida académica<br>
      organizada y eficiente como nunca antes!
    </p>
  </div>
  <img style="width: 1000px; height: 700px; margin-top: 40px; margin-right: 0px;" src="img/fray.png">
</div>
<div style="width:100%"><img src="img/dvva.png" width="100%"></div>
</div>

<div style="background-image: url(../img/fondo_3.png); background-size: 100%; height: 102.5%;">
<div class="d-flex" style="width: 1721px; height: 700px; margin-left: 70px">
  <img src="img/bg.gif">
  <div style="width: 750px; margin-top: 150px; margin-left: 150px;">
    <h1 style="font-size: 70px; width: 780px; font-family: mf; font-weight: m;">
      ¡Hola! Soy Gus
    </h1>
    <p style="font-size: 25px; margin-top: 30px;">
    	Tu nuevo amigo con plumas. Mis grandes ojos curiosos ven todo<br>
      lo que sucede a mi alrededor, y aunque soy nocturno,<br>
      estaré aquí para acompañarte en cualquier momento del día.<br>
      Me encanta observar desde las alturas y soy muy sabio,<br>
      pero también tengo un lado juguetón.<br>
      <b>¡Juntos viviremos grandes aventuras!</b>
    </p>
  </div>
</div>
</div>

<div style="background-image: url(../img/fondo_2.png); background-size: 100%;">
<div style="width: 100%; margin-bottom: 30px;"><img src="img/dvvb.png" width="100%"></div>
<div class="d-flex" style="width: 1771px; height: 600px;">
  <div style="width: 630px; margin-top: 150px; margin-left: 130px;">
    <h1 style="font-size: 70px; width: 780px; font-family: mf; font-weight: m;">
      Tutorial
    </h1>
    <p style="font-size: 25px; margin-top: 30px;">
    	Para un mayor entendimiento de nuestro sistema<br>
      tenemos un video guia explicando pagina a<br>
      pagina la funcion de cada seccion de está
    </p>
  </div>
  <div style="width:900px; height: 510px; background-color:#ce285a; border-radius: 50px;">
    <% if(locals.idRol === 1){%>
      <video src="videos/video1.mp4" width="830px" height="450px" controls style="border-radius: 50px; margin-top: 30px; margin-left: 37px;">Tu navegador no admite el elemento <code>video</code>.</video>
      <%} else if(locals.idRol === 3){ %>
        <video src="videos/video2.mp4" width="830px" height="450px" controls style="border-radius: 50px; margin-top: 30px; margin-left: 37px;">Tu navegador no admite el elemento <code>video</code>.</video>
        <%} else if(locals.idRol === 4){ %>
          <video src="videos/video3.mp4" width="830px" height="450px" controls style="border-radius: 50px; margin-top: 30px; margin-left: 37px;">Tu navegador no admite el elemento <code>video</code>.</video>
    <% } %>
    </div>
</div>
<div style="width: 100%;"><img src="svg/dvs.svg" width="100%"></div>
</div>

<div style="height: 800px; background-color: #ce285a;">
  <div id="carouselExample" class="carousel slide" style="width: 1500px; height: 700px; overflow: hidden; margin-left: 140px; margin-bottom: 100px; border-radius: 50px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/fondo3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/fondo1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/fondo4.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>