<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Políticas de uso</title>
    <link rel="shortcut icon" href="img/COLSAM_Logo.webp" type="image/x-icon">
 

<link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .mb-4{
        display: block;
    margin-left: auto;
     margin-right: auto;
     height: 130;
     width: 140;
      }
    </style>


    <link rel="stylesheet" href="css/fondo.css">
  </head>
  <body>
    


<form class="container pt-3 col-md-7 col-lg-8">
  <div class="form-control">
    <img class="mb-4" src="img/escudocolsam.png" alt=""  width="144" height="130" >
    <h3 class="text-center pt-3">Políticas de uso del Sistema</h3>
    <div class="mb-3">
     <label for="" class="form-label pb-3">El sistema de información COLSAM está diseñado y creado para la matriculación de los 
        estudiantes en el Colegio San Alberto Magno Frailes, como también mantener una base de datos de las calificaciones de los 
        estudiantes y su desempeño académico dentro de la institución, está prohibido usar la plataforma para otros fines y 
        hacerlo acarrea procedimientos legales y penales ante las autoridades pertinentes. Las políticas 
        están previstas como:</label>
        <ul class="pb-3">
            <li>Únicamente los usuarios registrados en el sistema de la base de datos de la institución y que tengan un vínculo con la institución podrán utilizar la plataforma, cualquier intrusión por parte de externos quedará registrada y se procederá a realizar las denuncias respectivas ante las autoridades.</li>
            <li>Queda totalmente prohibida tomar fotos a las interfaces o grabar el funcionamiento del sistema para mostrárselo a personas ajenas a la institución, de igual forma subirlas a redes sociales o compartirlas con terceros sin el debido consentimiento de las autoridades educativas.</li>
            <li>Todas las consultas, creaciones y modificaciones de datos dentro de la base de datos quedan registradas y ante cualquier anormalidad se procederá a bloquear momentáneamente el usuario y citarlo a la Coordinación Académica de la institución.</li>
            <li>Cualquier ataque en contra del sistema bien sea para descifrar contraseñas de usuarios mediante bots o ataques de denegación de servicios (DDoS) quedarán registrados y se harán las denuncias pertinentes.</li>
        </ul>
    <label for="">El aceptar el uso del sistema queda en constancia que está de acuerdo con las políticas de uso del sistema.</label>
    </div>
    <div class="mb-3">
    </div> 
    <a href="https://www.google.com" class="btn btn-danger mb">Rechazar</a>
    <a href="/login" class="btn btn-primary mb">Aceptar</a>
  </div>
</form>



</main>


<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>