<%- include('panelNavBar.ejs'); %>


<form class="container pt-3 col-md-7 col-lg-8">
  <div class="form-control p-1 mt-2">
    <h4>Consultas</h4>
   <a href="/consulta" class="btn btn-secondary btn-lg">Consultar estudiantes</a>
   <button type="button" class="btn btn-secondary btn-lg" disabled hidden>Generar boletin</button>
  </div>
</form>



</main>




<script src="/js/bootstrap.bundle.min.js"></script>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>